<p id="notice"><%= notice %></p>

<h1>Feedbacks</h1>

<form method="GET" action="/admin/feedbacks" class="form-group">
  <input placeholder="Search" id="search" type="text" name="q" />
  <input type="submit">
</form>

<table class="table">
  <thead>
    <tr>
      <th>email</th>
      <th>name</th>
      <th>text</th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.email %></td>
        <td><%= feedback.name %></td>
        <td><%= feedback.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @feedbacks, theme: 'twitter-bootstrap-4' %>
