<!DOCTYPE html>
<html>
  <head>
    <title>Feedbacks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Admin Pannel</a>
      <div class="form-inline navbar-form navbar-right">
        <% if admin_signed_in? %>
          <%= link_to('Logout', destroy_admin_session_path, class: 'btn btn-outline-primary') %>
        <% else %>
          <%= link_to('Login', new_admin_session_path, class: 'btn btn-outline-primary')  %>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
